<div class="container title mt-3">
    <div class="row">
        <div class="col">
            <h1>Update Contact &nbsp; <i class="fa-solid fa-user-pen"></i>
            </h1>
            <p class="mt-3" style="text-align: justify;">
                This is a dummy data. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, error reprehenderit est fugit voluptatibus pariatur dolorem. In beatae iste praesentium fugiat illum similique eveniet, consectetur harum possimus dolorem inventore voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, ullam eaque! Dolore odio illo maxime, beatae aliquam sapiente ipsam distinctio veniam molestiae harum iste officia eveniet sunt nemo aspernatur? Placeat!
            </p>
        </div>
    </div>

    <!-- <pre>
        {{groups| json}}
    </pre> -->
    <!-- add contact form -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form class="border p-3 rounded">
                    <div class="mb-2">
                        <input name="name"  [(ngModel)]="contact.name" type="text" class="form-control" placeholder="Name" >
                    </div>
                    <div class="mb-2">
                        <input name="photo"  [(ngModel)]="contact.photo"  type="text" class="form-control" placeholder="Photo URl">
                    </div>
                    <div class="mb-2">
                        <input name="email"  [(ngModel)]="contact.email" type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-2">
                        <input name="mobile"  [(ngModel)]="contact.mobile" type="text" class="form-control" placeholder="Mobile">
                    </div>
                    <div class="mb-2">
                        <input name="company"  [(ngModel)]="contact.company" type="text" class="form-control" placeholder="Company">
                    </div>
                    <div class="mb-2">
                        <select name="groupId" [(ngModel)]="contact.groupId" id="" class="form-control">
                            <option value="" selected hidden disabled> Select a group</option>
                            <option value="group.id" *ngFor="let groups of groups" >{{groups.name}}</option>
                  
                        </select>
                    </div>
                    <div class="mb-2">
                        <input value="Update" (click)="updateContact()" class="btn btn-success" type="button">
                        <a routerLink="/" class="btn btn-warning ms-3" > Close</a>
                    </div>
                    
                </form>
            </div>
            <div class="col-md-4">
                <img width="300px" height="200px" [src]="contact.photo" alt="on imagr" class="contact-image mt-3">
            </div>


        </div>
    </div>
</div>